.Personal {
    min-height: 130vh;
    margin: 0;
    overflow-y: auto;
    flex-direction:row;
    /* align-items:center; */
    /* justify-content: center; */
    display: flex;
    background-color: #000000;
}

.Intro:hover, .Info1:hover, .Info2:hover, .Info3:hover, .Bigger:hover, .Bigger2:hover, .Bigger3:hover {
    transform: scale(1.04); /* Increases the size by 10% when hovered */
}

.Intro {
    background-color: #000000;
    width: 84vh;
    height: 49vh;
    border-radius: 25px;
    margin: 3vh;
    margin-top: 8vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: transform 0.3s ease;
    border: 10px solid #F9E8D3; /* This adds a 10px solid black border */
}

.InnerIntro{
    background-color: #F9E8D3;
    width: 82vh;
    height: 46vh;
    border-radius: 15px;
    /* margin: 3vh; */
    align-items:center; 
    justify-content: center;
}

.Info1 {
    background-color:#ffffff;
    width: 84vh;
    height: 49vh;
    border-radius: 15px;
    margin: 3vh;
    display: flex;
    align-items:center; 
    justify-content: center;
    transition: transform 0.3s ease;
}   


.Info2 {
    background-color: #AB784E;
    width: 84vh;
    height: 49vh;
    border-radius:15px;
    margin: 3vh;
    transition: transform 0.3s ease;
}

.Info3 {
    background-color: #AB784E;
    width: 84vh;
    height: 49vh;
    border-radius: 15px;
    margin: 3vh;
    transition: transform 0.3s ease;
}

.Bigger {
    background-color: #000000;
    width: 44vh;
    height: 39vh;
    border-radius: 15px;
    margin: 3vh;
    margin-top: 8vh;
    display: flex;
    align-items:center; 
    justify-content: center;
    transition: transform 0.3s ease;
    
 
}

.InnerIntro2{
    background-color: #000000;
    width: 42vh;
    height: 36vh;
    border-radius: 15px;
    margin: 3vh;
    align-items:center; 
    justify-content: center;
}

.InnerIntro2 h2 {
    text-decoration: underline;
    text-decoration-color: #F9E8D3; 
    text-decoration-thickness: 3px; 
    text-underline-offset: 5px; 
    color: #ffffff;
}

.InnerIntro2 h3, h4 {
    color: #ffffff;
}

.InnerIntro4{
    background-color: #000000;
    width: 42vh;
    height: 51vh;
    border-radius: 15px;
    margin: 4vh;
    align-items:center; 
    justify-content: center;
}

/* .Bigger2 {
    background-color: #AB784E;
    width: 44vh;
    height: 54vh;
    border-radius: 15px;
    margin: 3vh;
    display: flex;
    align-items:center; 
    justify-content: center;
    transition: transform 0.3s ease;
 
} */

.Diva {

    flex-direction:column
    
}

.Diva2 {
    display: flex;
}

.Bigger3 {
    background-color: #ffffff;
    width: 62vh;
    height: 101vh;
    border-radius: 0px;
    margin: 3vh;
    display: flex;
    align-items:center; 
    justify-content: center;
    transition: transform 0.3s ease;
 
}

.InnerIntro3{
    background-color: #000000;
    width: 59vh;
    height: 98vh;
    border-radius: 0px;
    align-items:center; 
    justify-content: center;
    border: 5px solid #000000;
}

.InnerIntro3 h3{
    color: #ffffff;
    padding: 10px;
}

.InnerIntro3 h2{
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #F9E8D3; /* Gold color for the underline */
    text-decoration-thickness: 3px;
    
}

.MenuBar1 {
    position: fixed; 
    left: 19%; 
    top: 0; 
    width: 49%;
    height: 7vh;
    background-color: #000000; 
    border-radius: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
  }
  
  .MenuBar1 ul {
    list-style: none; 
    padding: 0;
    flex-direction: row;
    display: flex;
    align-items:center;
    justify-content: space-around; 
    gap: 50px;

  }
  
  .MenuBar1 li {
    margin: 10px 0; 
    width: 150px ;
  }
  
  .MenuBar1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .MenuBar1 a:hover {
    color: #ffffff; 
    transform: scale(1.05);
  }